#nav1
{  
    opacity: 0.88;       
}

/*sets all background color transitions to be animated smooth transition*/
.navbar {
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
}
 